*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  --background-color: #ff7e7e;
  --background-hover: rgb(218, 58, 58);
  --background-color1: #384762;
  --background-color2: #f8f6f3;

  --smoke-color: whitesmoke;
  --font-size1: 20px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-family: 'Poppins', sans-serif;
}
