altgraph==0.17.5
asgiref==3.11.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
packaging==25.0
pefile==2024.8.26
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
python-dotenv==1.2.1
pywin32-ctypes==0.2.3
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
